@import url("https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Schoolbell&display=swap");

:root {
  --color-navy: #0e1627;
  --color-mauve: #bd8e89;
  --color-prune: #7f6269;
  --color-pink: #e5c5c1;
  --color-blush: #e4e1e0;

  --color-background: #f7f5f5;
  --color-surface: #ffffff;
  --color-text: #0e1627;
  --color-muted: #756d70;
  --color-border: #e4e1e0;

  --color-primary: #bd8e89;
  --color-primary-dark: #7f6269;
  --color-primary-soft: #e5c5c1;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  /* background-color: var(--color-background); */
  background: #e0e7ff;
  background: linear-gradient(
    90deg,
    rgba(224, 231, 255, 1) 0%,
    rgba(79, 70, 229, 1) 100%
  );
  color: var(--color-text);
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* h1, h3, p {
  margin-top: 0;
} */

.button-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.button-group button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.btn-primary {
  background: #5b4fb9;
  color: white;
}

.btn-primary:hover {
  background: #4a3f8f;
}

.btn-danger {
  background: #dc3545;
  color: white;
}
